/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-image: url(../img/sfondo.png);
  background-size: 450px auto;
  background-repeat: repeat-y;
  background-position: center top;
  width: 450px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

b {
  font-weight: 600;
}

h2 {
  margin: 1.5em 0;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(53, 48, 53);
  text-align: center;
}

h6 {
  font-weight: 400;
}

a {
  color: #009ec9;
  font-weight: 500;
}

/* HEADER */
header {
  background: linear-gradient(
    180deg,
    rgba(4, 162, 202, 1) 50%,
    rgba(6, 109, 135, 1) 100%
  );
  font-weight: 500;
  padding: 40px 0 20px 0;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
  color: white;
}

header li {
  list-style: none;
  text-align: center;
  pad
}

header ul {
  padding: 0;
}

header img {
  width: 70%;
  margin-bottom: 1em;
}

header p {
  margin: 1em 0 1em 0;
}

/* MAIN */
main {
  background-color: white;
  padding: 1em;
  text-align: start;
  border: 1.5px solid #c0c0c0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 1.5em;
}
/* ELEMENTI NEL MAIN - ARTICLE */
main > section > h1 {
  margin: 0.5em 0 0.5em 0;
}

.author {
  margin: 0.5em 0 0.5em 0;
  color: grey;
}

main > section > p > b {
  color: #a61e4d;
}
.mini-box {
  border: 1.5px solid #c0c0c0;
  border-radius: 6px;
}

iframe {
  width: 100%;
  height: 12em;
  border-radius: 30px;
  margin-bottom: 2em;
}

/* TABELLE */
table {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1.5px solid #436dbb;
}

th {
  background-color: #436dbb;
  color: white;
  border: 1px solid white;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  height: 3.5em;
}
/* FORM */
input {
  width: 69%;
  border: none;
  border-bottom: 0.1px dashed;
}
button {
  background-color: #436dbb;
  color: white;
  border: none;
  font-weight: bold;
  padding: 3px 8px;
}
/* ELEMENTI NELL' ASIDE */
.articoli-ex p {
  border: 1px solid #c0c0c0;
  padding: 1em;
}
.data {
  display: block;
  text-align: end;
  margin-top: 1em;
}
/* FOOTER */
footer {
  background: linear-gradient(
    180deg,
    rgba(4, 162, 202, 1) 50%,
    rgba(6, 109, 135, 1) 100%
  );
  color: white;
  padding: 1em;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
}

address a {
  color: rgba(255, 3, 243);
}
